<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="~/assets/Ifeanyi_Eze.pdf" download target="#">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="w-100 mb-2"><img class="image-fluid w-50" src="assets/decagon.png"/></div>
                                    <div class="small fw-bolder">Associate Software Engineer</div>
                                    <div class="small text-muted">Decagon Institute</div>
                                    <div class="small text-muted mb-2">Lekki, Lagos</div>
                                    <div class="text-primary" style="font-size: .75rem;" >May 2023 - Present</div>
                                </div>
                            </div>
                            <div class="col-lg-7 h-100 d-flex flex-column align-content-between">
                                <div class="small mb-2"><span class="text-uppercase text-primary fw-bold small">Skills: C#, Asp.net core, React, Angular, HTML5, CSS3</span></div>
                                <div class="text-justify small">Worked with a team of fifteen developers, implementing an Address book RESTful API using ASP.NET CORE, Entityframework, and consuming the API from an Angular Client.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="w-100 mb-2"><img class="image-fluid w-50" src="assets/tek-experts.png"/></div>
                                    <div class="small fw-bolder">Technical Support Engineer</div>
                                    <div class="small text-muted">Tek-Experts</div>
                                    <div class="small text-muted mb-2">Victoria Island, Lagos</div>
                                    <div class="text-primary" style="font-size: .75rem;" >June 2022 - April 2023</div>
                                </div>
                            </div>
                            <div class="col-lg-7 h-100 d-flex flex-column align-content-between">
                                <div class="small mb-2"><span class="text-uppercase text-primary fw-bold small">Skills: Microsoft 365, Dynamics 365 Business Central, ERP </span></div>
                                <div class="text-justify small">
                                    Provided support to an average of five Microsoft partners daily, conducting research and delivering expert solutions for issues experienced while working with the Business Central SaaS application. Maintained an average customer rating of 4.8/5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Federal Polytechnic Oko</div>
                                        <div class="small text-muted">Anambra, Nigeria</div>
                                    </div>
                                    <div class="fst-italic mb-2">
                                        <div class="small text-muted">Computer Engineering</div>
                                        <div class="small text-muted">Higher National Diploma (HND)</div>
                                    </div>
                                    <div class="text-secondary" style="font-size: .75rem;">2013 - 2017</div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="small">
                                    <div>Graduated with a Cummulative GPA of 3.51.</div>
                                    <div>
                                        Led a team of thirteen students in our final project. Researching, designing and implementing a prototype of a LPG detector with a communication module with predefined contact list of Emergency response departments
                                        The prototype testing was successful and the team was awarded an A.
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">Mobile Development</div></div>
                                <div class="col"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">Microservices</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">ERP</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">Technical Writing</div></div>
                                <div class="col"><div class="d-flex justify-content-center bg-light rounded-4 p-3 h-100">Research</div></div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technologies</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex flex-row align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fa fa-desktop mx-3"></i>
                                        <div>HTML5 & CSS3</div>
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fab fa- mx-3"></i>
                                        <div>C# / ASP.NET</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fab fa-js mx-3"></i>
                                        <div>JavaScript</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fab fa-python mx-3"></i>
                                        <div>Python</div>
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fab fa-angular mx-3"></i>
                                        <div>Angular</div>
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fab fa-react mx-3"></i>
                                        <div>React</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i class="fa fa-briefcase mx-3"></i>
                                        <div>D365 BC</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>